<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Angular side bar</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav>
    <mat-nav-list>
      <a href="" mat-list-item>Home</a>
      <a href="" mat-list-item> product</a>
      <a href="" mat-list-item>service</a>
      <a href="" mat-list-item>aboutUs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

